<!DOCTYPE html>
<html lang="en" ng-app="aerowebApp" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
</head>
<body ng-controller="tarifaController">
	<div th:include="fragments/navigation :: navigation"></div>



	<div class="container" data-ng-init="onloadFun()">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Registro de Tarifas</h3>
			</div>
			<div class="panel-body">
				<button type="button" class="btn btn-default" data-toggle="modal"
					ng-click="createDialog()">Nueva Tarifa</button>
			</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Consecutivo</th>
							<th>Valor</th>
							<th>Observaciones</th>
							<th colspan="2">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="t in tarifas">
							<td>{{ t.idtarifa }}</td>
							<td>{{ t.valor }}</td>
							<td>{{ t.observaciones }}</td>
							<td><button type="button" class="btn btn-default"
									ng-click="confirmUpdate(t)">Editar</button></td>
							<td><button type="button" class="btn btn-danger"
									ng-click="confirmDelete(t)">Eliminar</button></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="panel-footer"></div>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="formModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{{accion}}</h4>
				</div>
				<div class="modal-body">

					<form class="form-horizontal"
						ng-submit="adicionar(TarifaSeleccionado)">
						<input type="hidden" class="form-control" id="hiddenConsecutivo"
							ng-model="TarifaSeleccionado.idtarifa" />
						<div class="form-group">
							<label for="inputValor" class="col-sm-4 control-label">Valor</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="inputValor"
									placeholder="Valor" ng-model="TarifaSeleccionado.valor" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputObservaciones" class="col-sm-4 control-label">Observaciones</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="inputObservaciones"
									placeholder="Destino"
									ng-model="TarifaSeleccionado.observaciones" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-1 col-sm-10">
								<input type="submit" class="btn btn-default pull-right"
									value="Aceptar" />

							</div>
						</div>

					</form>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="EliminarModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Confirmar Accion</h4>
				</div>
				<div class="modal-body">
					<p>Confirma la eliminacion del registro seleccionado?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" ng-click="eliminar()">Confirmar</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->





	<div th:include="fragments/footer :: footer"></div>
	<script src="js/controller/TarifaController.js"></script>
	<script src="js/service/TarifaService.js"></script>
</body>
</html>